# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Java
target/
*.class

# IDE
.idea/
.vscode/

# Logs
logs/
*.log

# Environment
.env

# Machine Learning
datasets/
models/
runs/
*.pt
*.pth

# OS
.DS_Store
Thumbs.db
